
.home-container {
    position: absolute;
    height: 320px;
    width: 300px;
    /* background-color: yellow; */
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(white-backround1.jpg);
    background-size: cover; 
    background-position: center bottom;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.columns {
    height: 300px;
    width: 300px;
    /* background-color: blue;    */

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	/* align-content: center; */
}

.tile {
    margin: 20px;
    height: 50px;
    width: 50px;
    /* background-color: green; */
    /* box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%); */
    /* background: linear-gradient(0turn,#5077be,#6495ed); */
    background: linear-gradient(0turn,#3c598e,#5077be);
    /* box-shadow:10px 5px 60px 10px rgba(36, 36, 36, 1); */
    border-radius: 2px;
    /* opacity: .1; */
    /* box-shadow:  10px 10px #000000; */
    /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
    box-shadow: 0px 5px 20px -7px #000000;
    transform: scaleX(1);
    transition: transform .25s, opacity 0.5s;
}

/* .tile:hover { */
    /* flip both */
    /* transform: scale(1, -1); */
    /* transform: scaleX(-1); */
    /* transition: transform 1s, opacity 0.5s; */
  /* } */

.tile-selected {
    /* background: linear-gradient(0turn,#3c598e,#5077be); */
    background: linear-gradient(0turn,#5077be,#6495ed);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    transform: scaleX(-1);
    transition: transform .25s, opacity 0.5s;
}

.selected-h1 {
    opacity: 50%;
    color: #fff;
    margin: auto;
}

.reset-button {
    width: 100px;
    height: 50px;
    /* background-color: ; */
    background: linear-gradient(0turn,#5077be,#6495ed)
}

.rows {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.player-row {
    height: 100px;
    width: 300px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    margin: auto;
}

.player-seat {
    height: 50px;
    width: 50px;
    background-color: orange;
    margin: auto;
    opacity: .1;
}
